# Copy this to .env and add your actual API keys
WATSON_API_KEY=6cL0aC203EIwwtE4tT41ZRlP4Ej9o4Zia+JOdGPWZvs=
Agent_API_KEY=azE6dXNyXzExNWI4OWQ0LTcxZGItMzYwNC1hYTJkLTBmNmFiZmUyMzBhYTpzZkROV09HeXM4UXc5dG5qU290VGpTZ1lJL1ZydFV3YTRNbEVYNDRPdzkwPTorcGND
WATSON_URL=https://dl.watson-orchestrate.ibm.com/
IBM_CLOUD_API_KEY=dxAbpiCgLlH-cSHNQiXGRUUGyINlGdFGQYUo1lwRGoUd
AGENT_ENDPOINT_URL=https://dl.watson-orchestrate.ibm.com/chat
CORS_ORIGINS=http://localhost:3000,http://localhost:8003